# ビルドの成果物
[Bb]in/
[Oo]bj/

# Visual Studio で生成されるユーザー固有ファイル
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio による一時ファイル・キャッシュ
.vscode/
.vs/

# NuGet 関連
packages/
*.nupkg

# その他の一時ファイル
*.log

# Windows Forms 関連のリソース一時ファイル等（必要に応じて）
*.cache
*.pidb
